/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: green;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  
  header:hover{
    background-color: aqua;
  }
  
  table{
    border: 1px solid black;
    border-collapse: collapse;
  }
  td{
    border: 1px solid black;
    padding: 10px;
  }
  
  tr:nth-child(2n+1){
    background-color: aqua;
  }
  
  tr:nth-child(2n){
    background-color: rgb(225, 215, 215);
  }
  
  img:last-child {width: 100%;}
  
  img:not(img:last-child){
    width:50%;
  }
  
  p:first-of-type:not(p:nth-child(2)){
    background-color: aquamarine;
  }
  
  h1:nth-of-type(1){
    background-color: brown;
  }
  
  .biti-ce-u-provjeri::after{
    content: "Biti će u provjeri";
    background-color: rgb(211, 84, 84);
    margin-left: 5px;
    display:inline-block;
    position: relative;
    top:-5px;
    height:10px;
    line-height: 10px;
    font-size: 8px;
  }
  
  ::marker{
    content:"#";
    font-size:30px;
  }
  
  ::selection {
    color: red;
    background: yellow;
  }
  
  main dt{
    background-color: blue;
  }
  
  main > dt{
    color: purple;
  }
  
  dl > dt{
    color: rgb(24, 160, 6);
  }
  
  div + div {
    transform: rotateZ(30deg);
  }
  
  div ~ h1{
    font-size: 72px;
  }